Flask==3.1.1
requests==2.32.4
pandas==2.3.1
python-dotenv==1.1.1
prophet==1.1.7
matplotlib==3.10.3
gunicorn==23.0.0
Flask-Mail==0.9.1
intuit-oauth==1.2.6
python-quickbooks==0.9.12
openai==1.95.1
plotly==6.2.0
Flask-Session

